html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    color: #161617;
    border-top: 10px solid #0f2876;
    background-color: rgb(198, 195, 195); 
}

section {
    display: flex
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

p {
    line-height: 1.5em;
    width: 500;
    
}

#blog {
    border-top: 5px dotted #ccc;
}

.blog-post {
    border-bottom: 5px dotted #ccc;
    padding: 20px;
    margin: 20px;
    flex: 1;
}

.sticky {
    background: #ccc;
    position: sticky;
    top: 0;
    
}

.img-container {
    float: right;
    height: 400;
    width: 300;
    margin-left: 15;
    margin-bottom: 20;
}

.bio {
    line-height: 1em;
    width: 860;
    height: 400px;
}



figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

figcaption{
    color: #eee;
    font-style: italic;
    padding: 2px;
    text-align: right;
    
}


@media (max-width: 400px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 5px;
        padding: 5px;
        color: #161617;
        border-top: 2.5px solid #0f2876;
        background-color: rgb(198, 195, 195); 
    }
    
    section {
        display: flex
    }
    
    h1 {
        font-size: 1em;
    }
    
    h2 {
        font-size: .75em;
    }
    
    p {
        line-height: .75em;
        width: 150;
        
    }
    
    #blog {
        border-top: 2.5px dotted #ccc;
    }
    
    .blog-post {
        border-bottom: 2.5px dotted #ccc;
        padding: 10px;
        margin: 10px;
        flex: 1;
    }
    
    .sticky {
        background: #ccc;
        position: sticky;
        top: 0;
        
    }
    
    .img-container {
        float: right;
        height: 133;
        width: 100;
        margin-left: 7.5;
        margin-bottom: 10;
    }
    
    .bio {
        line-height: .75em;
        width: 300;
        height: 150;
    }
    
    
    
    figure {
        border: 1px #cccccc solid;
        padding: 2px;
        margin: auto;
    }
    
    figcaption{
        color: #eee;
        font-style: italic;
        padding: 2px;
        text-align: right;
        
    }
}